<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.weizhis.shiro.dao.RolePermissionDao">
    <select id="selectAll" parameterType="cn.weizhis.shiro.entity.SysRole" resultSets="cn.weizhis.shiro.entity.RolePermission">
        select * from tb_role_permission where r_id=#{id}
    </select>

    <!--<select id="selectAllByPage" parameterType="cn.weizhis.common.component.Page" resultType="cn.weizhis.common.component.Page">-->
        <!--select * from tb_role_permission limit #{currentPage-1},#{rowNum}-->
    <!--</select>-->

    <insert id="insert" parameterType="cn.weizhis.shiro.entity.SysRole">
        insert into tb_role_permission (name,password,salt,state,user_name) values (#{name},#{password},#{salt},#{state},#{user_name})
    </insert>

    <update id="update" parameterType="cn.weizhis.shiro.entity.SysRole">
        update tb_role_permission set name = #{name},passwords = #{passwords},salt = #{salt},state=#{state},user_name=#{user_name}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="cn.weizhis.shiro.entity.SysRole">
        delete tb_role_permission where id = #{id}
    </delete>
</mapper>